.enterEmailTextBox{
    padding: 0.5rem;
}
.main-blog-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding: 0  1rem 1rem;
}
.main-blog-card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    height: 27rem;
    width: 16rem;
    background-color: var(--mutedBackground);
}
.main-blog-card img{
    height: 50%;
}